<h1>Edit Translation</h1>
<div class="container">
    <%= form_for :translation, :url => {:action => "update"}, :translation => @translation, :method => 'PATCH' do |f| %>
        <%= render :partial=>'form', :locals=>{:f=>f} %>
    <% end %>
    
    <%= link_to account_translations_path(@account.id) do %>
        Cancel
    <% end %>
</div>
