<div class="container">
    <h1>Create Translation</h1>
    <%= form_for :translation, :url => {:action => "create"}, :translation => @translation do |f| %>
        <%= render :partial=>'form', :locals=>{:f=>f} %>
    <% end %>
    
    <%= link_to account_translations_path(@account.id) do %>
        <p>Cancel</p>
    <% end %>
</div>
