// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#header {
	text-align: center;
}

div#footer {
    text-align: center;
	font-size: .8em;
	background-color: transparent;
	border-top: 2px solid black;
	padding: 3px;
	line-height: 15px;
	position: absolute;
	bottom: 0;
	width: 98.5%;
}

div#description {
  padding: 3em;
	text-align: center;
}

div#nav {
	margin: auto;
	width: 50%;
	margin-top: 5em;
}

div.button {
  font: bold 11px Arial;
  text-decoration: none;
  text-align: center;
  background-color: #EEEEEE;
  color: #333333;
  margin: .5em;
  padding: 5em 5em 5em 5em;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 25%;
  float: left;
}

div.button:hover {
  cursor: pointer;
}

div.button:active {
  border-top: 1px solid #333333;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #333333;
	background-color: #808080;
}

