<body>
    
    <div class="container">
            <h1>Edit Account</h1>
        
        <%= render 'form' %>
        
        <%= link_to @account do %>
            <p>Cancel</p>
        <% end %>
    </div>
</body>