<body>
    <div id="container">
        <div id="header">
            <h1>Login</h1>
        </div>

        
        <%= link_to(welcome_index_path) do%>
            <h3>Cancel</h3>
        <% end %>
    </div>
</body>