<h1>It worked, remember to fix this btw</h1>
<p>
    firstname:
    <%= @account.first_name %>
</p>
<p>
    lastname:
    <%= @account.last_name %>
</p>
<p>
    username:
    <%= @account.username %>
</p>
<p>
    password:
    <%= @account.password %>
</p>